
<nav class="navbar navbar-expand-sm ">

  <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">
      <i class="fa fa-check"></i>
  </a>

  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/management']" routerLinkActive="router-link-active" >Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tooltip']" routerLinkActive="router-link-active" >Tooltip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
      </li>
    </ul>
  </div>
  
</nav>