<app-header></app-header>


<div class="row">
  <div class="col-md-2" style="height: 85vh; background-color : black; color : white">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>


<app-footer></app-footer>