<p>tooltip-test works!</p>
<ng-template #popTemplate>Here we go: <div [innerHtml]="tooltipContent"></div></ng-template>
<div class="text-center">
    <button type="button" class="btn btn-primary"
        [tooltip]="popTemplate">
    Simple demo
    </button>
</div>
