:host >>> .tooltip-inner {
    background-color: #7870e2;
    color: #fff;
    max-width : unset;
}
:host >>> .tooltip.top .tooltip-arrow:before,
:host >>> .tooltip.top .tooltip-arrow {
    border-top-color: #7870e2;
}